body {
    background-repeat: no-repeat;
    background-size: 1500px;
    background-color: white;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif ;
    margin: 0;
    padding: 0;
    display: inline;
}

header {
    background-image: url('https://www.cisco.com/c/pt_br/solutions/small-business/security/firewalls/jcr:content/Grid/category_atl_copy_co/layout-category-atl/spotlight_1774109907.img.jpg/1702926464138.jpg');
    background-repeat: no-repeat;
    background-size: 500px;
    background-color: black;
    color: #fff;
    padding: 0px;
    text-align: left;
}

nav ul {
    list-style-type: none;
    margin: 1;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

section {
    color: rgb(122, 86, 253);
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1{
    text-align: center;
}



.animated-button {
    right: 50%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(255, 0, 0); /* Cor inicial: vermelho */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration:none;
}

.animated-button:hover {
    background-color: rgb(0, 255, 0); /* Cor ao passar o mouse: verde */
}














html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    background: #162944;
  }
  
  .button_slide {
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  
  .slide_down:hover {
    box-shadow: inset 0 100px 0 0 #D80286;
  }
  
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
  }
  
  .slide_left:hover {
    box-shadow: inset 0 0 0 50px #D80286;
  }
  
  .slide_diagonal:hover {
    box-shadow: inset 400px 50px 0 0 #D80286;
  }
  
  #outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
  }
  
  
